/*  プロフィール画像用  */
.profile_image_navigation{
    display: inline-block;
    padding: 0 10px;
    width: auto;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}
/*  プロフィール画像用  */
.profile_image_normal{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
}
/*  顧客画像用  */
.client_image_normal {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 4px;  // 少し角丸にする程度
    object-fit: contain; // はみ出さずに収める
    vertical-align: middle;
}